<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MafiaAutoName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MafiaAutoName.Properties.Settings>
            <setting name="ImageLeftMargin" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ImageRightMargin" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ImageTopMargin" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="ImageBottomMargin" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="PortraitHorizontalMargin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PortraitVerticalMargin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="NewImageHorizontalResolution" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="NewImageVerticalResolution" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DisplayFont" serializeAs="String">
                <value>Verdana, 20.25pt, style=Bold</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="InputImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseInputImage" serializeAs="String">
                <value>False</value>
            </setting>
        </MafiaAutoName.Properties.Settings>
    </userSettings>
</configuration>